<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tareas</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Lista de tareas</h1>

        <form class="ui form" action="/add" method="POST">
            <div class="field">
                <label>Título tarea</label>
                <input type="text" name="title" placeholder="agregar tarea..."><br>
            </div>
            <button class="ui blue button" type="submit">Agregar</button>
        </form>

        <hr>

        {% for todo in todo_list %}
        <div class="ui segment">
            <p class="ui big header">{{todo.id }} | {{ todo.task }}</p>

            {% if todo.complete == False %}
            <span class="ui gray label">No completada</span>
            {% else %}
            <span class="ui green label">Completada</span>
            {% endif %}
            
            {% if todo.complete == False %}
            <a class="ui blue button" href="/update/{{ todo.id }}">Terminada</a>
            {% else %}
            <a class="ui blue button" href="/update/{{ todo.id }}">No terminada</a>
            {% endif %}
            <a class="ui red button" href="/delete/{{ todo.id }}">Eliminar</a>
        </div>
        {% endfor %}
    </div>
</body>

</html>