<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tareas</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/task.png') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
    <script src="{{ url_for('static', filename='src/script.js') }}"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <header>
            <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo UTN">
            <h1 class="ui center aligned header">Lista de tareas</h1>
        </header>
        
        <form class="ui form" action="/add" method="POST">
            <div class="field">
                <input type="text" name="title" placeholder="agregar tarea."><br>
                <input type="text" style="margin-left: 1em;" name="detail" placeholder="agregar detalle."><br>
                <button class="ui blue button add" type="submit">Agregar</button>
            </div>
        </form>

        <hr>

        {% for todo in todo_list %}
        <div class="ui segment">
            <p class="ui big header">{{ todo.id }} | {{ todo.task }}</p><br>
            <p>{{ todo.detail }}</p><br>
            
            {% if todo.complete == False %}
            <span class="ui gray label">No completada</span>
            {% else %}
            <span class="ui green label">Completada</span>
            {% endif %}
            
            {% if todo.complete == False %}
            <a class="ui blue button" href="/update/{{ todo.id }}">Terminada</a>
            {% else %}
            <a class="ui blue button" href="/update/{{ todo.id }}">No terminada</a>
            {% endif %}
            <a class="ui red button" href="/delete/{{ todo.id }}">Eliminar</a>
        </div>
        {% endfor %}
    </div>
</body>

</html>